.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {

}

.dialog  a {
    text-decoration: none;
    padding-left: 10px;
    color: blue;
}

 .active   {
    text-decoration: none;
    padding-left: 10px;
    color: gold;
}

